.pfclass{
    border:solid 0.5px green; 
    border-left:0px; 
    padding:0 10px 0 10px
} 

    .pfclassltlg{
        border:solid 0.5px green; 
        border-top:0px; 
        padding:0 10px 0 10px
    } 
