
<!-- This is to be placed in the parent item -->
<div fxLayout="row" fxLayoutWrap fxLayoutGap="10px">
<!-- This is to be placed in the parent item -->


<form [formGroup]="pfForm"  fxLayout="column" fxLayouWrap fxFlex.lt-lg="0 1 100" fxFlex="0 1 49">
<mat-card  [ngClass]="{'shadow': onEdit}" style="margin-top:15px">
    <mat-card-header>
        <div fxLayout="row" fxLayoutWrap fxLayoutAlign="start center" fxFlex="1 1 50"> 
      
        <mat-card-title [fxHide]="onEdit"><h1>Natrayan's portfolio</h1></mat-card-title>
      
        <mat-form-field [fxHide]="!onEdit" fxFlex>
            <input matInput placeholder="Portfolioname" formControlName="pfPortfolioname">
            <mat-error *ngIf="!pfForm.controls['pfPortfolioname'].valid">
                Portfolioname is <strong>required</strong>
            </mat-error>
        </mat-form-field >
        </div>
    
    </mat-card-header>
    <mat-card-content >
<!--  This is for NONEDIT START-->
<div [fxHide]="onEdit" fxFlexLayout="row" fxLayoutWrap> 
      
      
      <div  fxFlex="1 0 130px" fxFlex="1 0 100%" style="line-height: 0.5em;"> 

          <p><label matInput  fxFlex="100%">Pupose of portfolio:</label></p>
          <p ><label><h3>Summa summa</h3></label></p>
      
      </div>

      <div fxFlex="1 0 130px" style="line-height: 0.5em;"> 
          
          <p>Start date  </p>
          <p ><label><h3>{{today|date:"dd-MM-yyyy"}}</h3></label></p>
          
                
      </div>

      <div  fxFlex="1 0 130px" style="line-height: 0.5em;"> 

          <p>End date  </p>
          <p ><label><h3>{{today|date:"dd-MM-yyyy"}}</h3></label></p>
          
         
                
                </div>


                <div  fxFlex="1 0 130px" style="line-height: 0.5em;"> 
                    
                    <p>Investment Amount  </p>
                    <p ><label><h3>10000</h3></label></p>                   
                          
                          </div>


                          <div  fxFlex="1 0 130px" style="line-height: 0.5em;"> 
                              <p>Investment Freq  </p>
                              <p ><label><h3>Daily</h3></label></p>
                              
                                    
                                    </div>
                                    <div  fxFlex="1 0 130px" style="line-height: 0.5em;"> 
                                        
                                        <p>Target Percent </p>
                                        <p ><label><h3>10%</h3></label></p>
                                              
                                    </div>
                                  


    </div>

<!--  This is for NONEDIT END-->


<!--  This is for edit START-->

    <div [fxHide]="!onEdit" fxFlexLayout="row" fxLayoutWrap> 
        
        
        <div  fxFlex="1 0 130px" fxFlex="1 0 100%" style="line-height: 0.5em;"> 
  
            <mat-form-field  fxFlex="100%">
                <textarea matInput  placeholder="Pupose of PF" formControlName="pfPurpose" ></textarea>
      
            </mat-form-field >
        
        </div>
  
        <div fxFlex="1 0 130px" style="line-height: 0.5em;"> 
            
            <mat-form-field  fxFlex="1 0 130px">
                <input matInput [min]="today" [matDatepicker]="picker1" placeholder="Start date" formControlName= "pfStartDt" [value]="today" >
                <mat-datepicker-toggle matSuffix [for]="picker1" ></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            
            
                  
        </div>
  
        <div  fxFlex="1 0 130px" style="line-height: 0.5em;"> 
  
            <mat-form-field fxFlex="1 0 130px">
                <input  matInput [min]="today" [matDatepicker]="picker2" placeholder="Target End date" formControlName= "pfTargetDt" >
                <mat-datepicker-toggle matSuffix [for]="picker2" ></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            
           
                  
                  </div>
  
  
                  <div  fxFlex="1 0 130px" style="line-height: 0.5em;"> 
                      
                      <mat-form-field  fxFlex="1 0 130px">
                          
                          <input type="number" matInput placeholder="Investment Amount"  formControlName= "pfPlannedInvAmt">   
                          
                        </mat-form-field>              
                            
                            </div>
  
  
                            <div  fxFlex="1 0 130px" style="line-height: 0.5em;"> 
                                <mat-form-field fxFlex="1 0 130px">
                                    <input type="text" placeholder="Investment Freq" matInput formControlName="pfInvAmtFeq" [matAutocomplete]="auto1" [(ngModel)]="Invfreq">
                                    <mat-autocomplete #auto1="matAutocomplete">
                                      <mat-option *ngFor="let freq of freqs" [value]="freq" >
                                        {{ freq }}
                                      </mat-option>
                                    </mat-autocomplete>
                                  </mat-form-field>
                                
                                      
                                      </div>
                                      <div  fxFlex="1 0 130px" style="line-height: 0.5em;"> 
                                          
                                          <mat-form-field  fxFlex="1 0 130px">
                                              
                                              <input type="number" matInput placeholder="Percent"  formControlName= "pfTargetIntRate">
                                              <span matSuffix>&nbsp;%</span>
                                              
                                            </mat-form-field>
                                                
                                      </div>
                                    
  
  
      </div>
      <!--  This is for edit END-->

      <!-- This is for any new row -->

    <div fxFlexLayout="row" fxLayoutAlign="center center" > 
        <mat-expansion-panel fxFlex>
            <mat-expansion-panel-header>
              <mat-panel-title fxFlexAlign="center" style="color:rgb(74, 23, 190)">
                <h3>Stock List</h3>
              </mat-panel-title>
              <mat-panel-description fxFlexAlign="center">
                Stocks Planned
              </mat-panel-description>
            </mat-expansion-panel-header>
            
      
               
                                   
                      <div formArrayName="pfStocklists">
                      <div *ngFor="let pfStocklist of pfForm.controls.pfStocklists.controls; let i=index"  [formGroupName]="i">
                        <div fxFlexLayout="row"  fxLayoutWrap>
                        
                            <mat-form-field fxFlex="1 0 100px">
                                <input matInput placeholder="Exchange" formControlName= "pfstExchange">
                            </mat-form-field>

                            <mat-form-field fxFlex="1 0 100px">
                                <input matInput placeholder="Trading Symbol" formControlName= "pfstTradingsymbl">
                              </mat-form-field>

                              <mat-form-field fxFlex="1 0 100px">
                                <input matInput placeholder="LTP" formControlName= "pfstLtp">
                              </mat-form-field>

                              <mat-form-field fxFlex="1 0 100px">
                                <input matInput placeholder="Amount" formControlName= "pfstAmt">
                              </mat-form-field>
                        
                        
                        <button mat-icon-button *ngIf="pfForm.controls.pfStocklists.controls.length > 1" (click)="deleteStkRow(i)" ><mat-icon fxAlign="end">cancel</mat-icon></button>
                        </div>
                    </div>                    
                  
                   <button mat-icon-button (click)="addNewStkRow()"><mat-icon fxAlign="end">add</mat-icon></button>
                   
           natrayan        
            
                               </div>
          </mat-expansion-panel>
        
    </div>
    <div>
        <span><br></span>
    </div>
    <div fxFlexLayout="row" fxLayoutAlign="center center" style="background-color:blue"> 
        <mat-expansion-panel fxFlex>
            <mat-expansion-panel-header>
              <mat-panel-title fxFlexAlign="center">
                <h3 style="color:rgb(74, 23, 190)">Mutual Fund List</h3>
              </mat-panel-title>
              <mat-panel-description fxFlexAlign="center">
                Mutual Funds Planned
              </mat-panel-description>
            </mat-expansion-panel-header>
                <mat-toolbar ><span>MyToolBar</span></mat-toolbar>
            <div fxFlexLayout="row"  fxLayoutWrap>
                
                          <mat-form-field fxFlex="1 0 200px">
                              <input matInput placeholder="Fund Name">
                            </mat-form-field>         
                      
                          <mat-form-field fxFlex="1 0 100px">
                              <input matInput placeholder="LTP">
                            </mat-form-field>
                      
                  
                          <mat-form-field fxHide fxFlex="1 0 100px">
                              <input matInput placeholder="Amount">
                            </mat-form-field>

                            <mat-form-field fxFlex="1 0 100px">
                                <input matInput placeholder="percent">
                              </mat-form-field>
          
                            
                             <button mat-icon-button><mat-icon fxAlign="end">add</mat-icon></button>
              
                      
                      </div>
          </mat-expansion-panel>
        
    </div>
  <!--

        <div [fxHide]="onEdit" fxFlexLayout="row" fxLayoutWrap> 
        <div style="background-color: blue" fxFlex="1 0 130px"> 
            
            <p>new page</p>
                  
        </div>
      </div>



      <div [fxHide]="onEdit" fxFlexLayout="row" fxLayoutWrap> 
          
          
          <div style="background-color: brown" fxFlex="1 0 130px"> 
    
       <p>dkdkdkdkkd</p>
          
          </div>
    
          <div style="background-color: green" fxFlex="1 0 130px"> 
              
              <p>dkdkdkdkkd</p>
                    
          </div>
</div>
-->

    </mat-card-content>

    <mat-card-actions>
        <div fxLayout="row" fxLayoutWrap fxLayoutAlign="center center"> 
        
        <button mat-raised-button (click)="UserCancel()" color="accent" >Cancel</button>   
        <span fxFlex="30"></span>
       
        <button mat-raised-button [fxHide]="onEdit" (click)="UserEdit($event)" color="accent" >Edit</button>
        <button mat-raised-button [fxShow]="onEdit" (click)="UserSave()" color="accent">Save</button>
      
          <!--button mat-raised-button [fxHide]="onEdit" (click)="UserEdit($event)" color="accent">Edit</button>
          <button mat-raised-button [fxShow]="onEdit" (click)="UserSave()" color="accent">Save</button>
          <button mat-raised-button (click)="UserCancel()" color="accent">Cancel</button-->
          </div>
      </mat-card-actions>
  
</mat-card>

</form>

  </div>
  <pre>{{pfForm.value | json}}</pre>